@import '../../../variables.scss';

.task-card {
  &-base {
    margin: 1rem;
    border: 0.1rem solid $white;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
  }
  &-dark {
    background: linear-gradient($cardBackgroundDark);
    hr {
      width: 80%;
      border-top: 2px solid $white;
    }
  }
  &-light {
    background: linear-gradient($cardBackgroundLight);
    hr {
      width: 80%;
      border-top: 2px solid $black;
    }
  }
  .task-card-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
}

.task-headers {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  display: block;
  font-weight: bold;
}

.card-title-base {
  margin: 1rem;
  font-size: 2rem;
}

.task-details {
  padding: 0rem 0.7rem 0.7rem 0.7rem;
  font-weight: lighter;
}

@media screen and (min-width: 768px) {
  .task-card {
    &-base {
      width: 30%;
      padding: 70px 0px;
    }
  }
}
