@import '../../../variables.scss';
@import '../../../functions.scss';

@mixin input-label-shrink() {
  font-size: 12px;
  top: 0;
  transition: all ease-in-out 0.5s;
}

@mixin stay-line-itself() {
  transform: translateX(0);
  transition: all ease-in-out 0.5s;
}

.input-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 15px 0 10px 0;

  .input-label {
    padding: 0 5px;
    position: absolute;
    font-size: 18px;
    top: 20px;
    transition: all ease-in-out 0.5s;
    z-index: 0;
  }

  .shrink {
    position: absolute;
    @include input-label-shrink();
  }

  .border-line {
    width: 100%;
    height: 2px;
    position: absolute;
    border-bottom: 2px solid $black;
    transform: translateX(-101%);
    bottom: 2px;
    transition: all ease-in-out 0.5s;
    z-index: 0;
  }

  .stay-line {
    @include stay-line-itself();
  }

  &:focus-within {
    .border-line {
      @include stay-line-itself();
    }

    .input-label {
      @include input-label-shrink();
    }
  }
}

.input-base {
  @include default-input-styles();
  background: none;
}
