@import '../../variables.scss';

.home-title {
  padding: 0.5rem;
  text-align: center;
}

.home-title-dark {
  color: $white;
}
.home-title-light {
  color: $lightThemeHeadings;
}

.user-home-cards {
  display: grid;
  grid-template-columns: auto auto;
}
