$black: #000;
$white: #fff;
$gray: #424141;
$darker: #212121;
$dark: #282c34;
$lightThemeBackground: #e6eaea;
$transparentGray: #969292b9;
$navBarBackgroundDark: #20232a;
$navBarBackgroundLight: #ff7578;
$border-radius: 3px;
