@import '../../../variables.scss';

.nav {
  a {
    margin-right: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  a {
    margin: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
    &:visited {
      color: $white;
    }
  }
}
