@import '../../../variables.scss';

.button-base {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  font-family: $button-font;
}

.login-signup-button {
  width: 100%;
  &-dark {
    background: linear-gradient(-45deg, #111111, #575355, #6b6d6e, #525554);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  &-light {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hide-reset-button {
  display: none;
}

.logout-button {
  padding: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  transition: 70ms;
}

.generic-submit-button {
  padding: 1rem;
  width: 70%;
  margin: 1rem;
  &-dark {
    color: $black;
    background: linear-gradient(-45deg, #cfd6ca, #3fd412);
  }
  &-light {
    color: $white;
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  }
}

.generic-reset-button {
  padding: 1rem;
  width: 70%;
  margin: 1rem;
  &-dark {
    background: linear-gradient(-45deg, #b43109, #e40c0c);
  }
  &-light {
    background: linear-gradient(-45deg, #ec977d, #e73939);
  }
}
