@import '../../variables.scss';

.header-light {
  background: $navBarBackgroundLight;
}

.header {
  background-color: $navBarBackgroundDark;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 1.5rem;
}
