@import '../../variables.scss';

.header {
  background-color: $navBarBackgroundDark;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 1.5rem;
  transition: all ease-in-out 0.5s;
}

.header-light {
  background: $navBarBackgroundLight;
}

.hamburger-menu {
  &-dark path {
    fill: $white;
  }
  &-light path {
    fill: $black;
  }
}
