@import '../../variables.scss';

.add-task-form {
  padding: 1rem;
  // transition: all ease-in-out 1s;

  input {
    // margin-top: 1rem;
    padding: 1rem;
  }
  &-dark {
    textarea {
      background: $darker;
      color: $white;
    }
  }
  &-light {
    textarea {
      background: $lightThemeBackground;
      color: $black;
    }
  }
  textarea {
    width: 90%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    outline: none;
    transition: all ease-in-out 0.5s;

    &::placeholder {
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .add-task-form {
    padding: 5rem;
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .add-task-form {
    width: 50rem;
  }
}

#add-task-images {
  display: none;
}

.task-add-modal {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  color: $black;
}

.task-added-icon path {
  fill: $complete;
  align-self: center;
}

.task-add-failed-icon path {
  fill: $error;
  align-self: center;
}

.add-task-buttons {
  display: flex;
  justify-content: space-around;
  button {
    transition: all ease-in-out 0.5s;
    width: 20%;
    padding: 1rem;
    margin: 1rem;
  }
}

.add-task-buttons {
  button {
    outline: none;
  }
  &-dark {
    background: $lightThemeBackground;
    color: $black;
  }
  &-light {
    background: $darker;
    color: $white;
  }
  .active {
    &-dark {
      color: $white;
      background: linear-gradient($cardBackgroundDark);
    }
    &-light {
      color: $black;
      background: linear-gradient($cardBackgroundLight);
    }
  }
}
