@import '../../../variables.scss';

.card-base {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  transition: all ease-in-out 0.5s;
}

.card {
  &-dark {
    background: linear-gradient($cardBackgroundDark);
  }
  &-light {
    background: linear-gradient($cardBackgroundLight);
  }
}

.card-title-base {
  margin: 1rem;
  font-size: 2rem;
}

.right-arrow path {
  fill: $white;
}

@media screen and (min-width: 768px) {
  .card-base {
    padding: 25px 0px;
  }
}
