@import '../../variables.scss';

.open-task-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.edit-button path {
  fill: $white;
}

.edit-button-light path {
  fill: $black;
}
.complete-button path {
  fill: $complete;
}

.close-button path {
  fill: $warning;
}

.back-button {
  display: flex;
  align-items: center;
  padding: 1rem;
  &-dark {
    color: $white;
  }
  &-light {
    color: $black;
  }
}

.back-button-icon {
  &-dark path {
    fill: $white;
  }
  &-light path {
    fill: $black;
  }
}

.color-red path {
  fill: $error;
}
